# Copia este archivo como .env y completa los valores
PORT=5000
DATABASE_URL=postgresql://postgres.tcawcbgykwqxnhoalikl:Ict4wq2blObZaBv8@aws-1-us-west-2.pooler.supabase.com:5432/postgres
JWT_SECRET=tu_clave_secreta_super_segura_aqui_123
FRONTEND_URL=https://tienda-ion.vercel.app/
WHATSAPP_NUMBER=573235206981
CLOUDINARY_CLOUD_NAME=dnrrisz66
CLOUDINARY_API_KEY=439546931627682
CLOUDINARY_API_SECRET=TnImx_4VTEcSHxJSxAHSmF6X4dc